<table class="table table-no-border" id="conversation">
	<thead>
		<tr>
			<th>Target</th>
			<th class="text-center">MScore</th>
			<th class="text-center">Count</th>
		</tr>
	</thead>
	<tbody>
		<%@targets.each do |target|%>
		<tr>
			<td><%=target[:target]%></td>
			<td class="text-center"><%=number_with_delimiter(target[:mscore])%></td>
			<td class="text-center"><%=number_with_delimiter(target[:count])%></td>
		</tr>
		<% end %>
	</tbody>
</table>
