<style>
	#main {
		width: auto;
		padding: 0px 50px;
	}
	.header_index {
		padding: 20px 30px;
	}
</style>
<div class="text-right header_index"><a href="javascript: void();" id="login_button">Login</a></div>
